# env
.env
.env.*

# python
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/

# mac
.DS_Store

# frontend
frontend/node_modules/
frontend/.next/
frontend/.vercel/

# general node
node_modules/
.next/

# docker / local data
postgres_data/
*.db